<div class="Container">
    <br>
    <h6>{{ nombreEst + ' - ' + ciudadEst + '- Github: '+ repositorioEst}}</h6>

    <br>
    <!-- <pre>{{ listaRevistaDTO | json}}</pre> -->
    <table class="table table-condensed table-bordered">
        <thead class="thead-dark text-ligth">
          <tr>            
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Editorial</th>
            <th scope="col">Número Pag.</th>
            <th scope="col">Precio </th>
            <th scope="col">A Color</th>
            <th scope="col">FechaVenta</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let revista of listaRevistaDTO; let i=index">
            <th scope="row">{{ revista.id}}</th>
            <td>{{revista.nombre}}</td>
            <td>{{revista.editorial | uppercase}} </td>
            <td>{{revista.numeroPaginas}}</td>
            <td>$ {{revista.precio | number: '.2'}}</td>
            <td>{{revista.aColor  ? 'Si' : 'No' }}</td>
            <td>{{revista.fechaVenta | date }}</td> <!-- date: 'yyyy-mm-dd'-->
            <td>{{revista.estado}}</td>
            <td><button type="submit" class="btn btn-sm btn-danger" (click)="eliminarRevistaDTO(i)">X</button></td>
          </tr>
        </tbody>
      </table>

    <!-- <button type="submit" class="btn btn-sm btn-primary" (click)="eliminarRevistaDTO(3)">Eliminar Revista #3</button>-->
    <br> 
    <br>    
    <div class="alert alert-success" role="alert" *ngIf="mostrar == true">
        {{ 'Se ha eliminado la revista: '+nombreRevista}}
    </div>
</div>